.message {
    padding: .5rem 1rem;
    display: flex;
}

.avatar {
    margin: 0 1rem;
    padding-top: .5rem;
}

.text {
    position: relative;
    min-width: 100px;
    max-width: calc(100% - 80px);
    background-color: #5ecfff;
    padding: 1rem;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #043661;
}

.assistant {
    background-color: #0c508c;
    color: #ffffff;
}

.order1 { order: 1; }
.order2 { order: 2; }
.right { justify-content: flex-end; }

.content {
    position: relative;
    line-height: 1.4;
}

.progress {
    position: relative;
    height: 1rem;
}

.orderedList, .unorderedList {
    padding-left: 1.5em;
    margin: 0.25em 0;
}

.unorderedList { list-style-type: disc; }

.listItem {
    margin-bottom: 0.25em;
}

.listItem > .orderedList,
.listItem > .unorderedList {
    margin-top: 0.25em;
}

.paragraph {
    margin-bottom: 0.5em;
}

.content > .paragraph:last-child {
    margin-bottom: 0;
}